.container {
    background-image: url(../chicken-images/food-home-bg.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
}

.container-h {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.container-h h1 {
    text-shadow: 3px 3px 8px #000;

}

.container span {
    color: #fff;
    font-size: 2rem;
    max-width: 500px;
    text-shadow: 0 0 1px #000;
}

.container button {
    padding: 10px 15px;
    background-color: orangered;
    border: none;
    border-radius: 24px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.container button:hover {
    background: #fff;
    border: solid 2px orangered ;
    color: orangered;
}

.cards {
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    gap: 10px;
    overflow: hidden;
    box-shadow: orangered 0 0 20px;
}

.card:hover{
    transform: scale(1.01);
}

.card-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px;
}

.cards-h {
    width: 100% !important;
    text-align: center;
}

.cards-h h1 {
    color: #fff;
    padding: 25px;
}

.card-details {
    color: #000;
    margin: 10px;
    width: 300px;
}

.cards-h button,
.card button {
    width: 300px;
    margin-bottom: 10px;
    padding: 6px;
    border: none;
    background-color: orangered;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
}

.cards-h button:hover,
.card button:hover {
    background: #fff;
    border: solid 2px orangered ;
    color: orangered;
}

.card-contain .card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.hot-btns{
    display: flex;
    width: 300px;
}

.hot-btn{
    background-color: #ccc;
}

.order-title {
    font-size: 50px;
    margin-top: 40px;
    font-weight: 700;
    text-align: center;
    color: #222;
}

.order-form-container {
    width: 70%;
    margin: 30px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order-sub {
    color: red;
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
}

.input-group label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #222;
    padding: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid orangered;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

textarea {
    resize: none;
}

.order-btn {
    padding: 12px 40px;
    background: orangered;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    transition: .3s;
}

.order-btn:hover {
    background: #fff;
    border: solid 2px orangered ;
    color: orangered;
}

footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 900px) {
    .order-form-container {
        width: 85%;
    }

    .order-title {
        font-size: 40px;
    }

    .order-sub {
        font-size: 35px;
    }
}

@media (max-width: 600px) {

    .container {
        height: auto;
        padding: 60px 15px;
    }

    .container span {
        font-size: 1.3rem;
    }

    .container-h h1 {
        text-shadow: 3px 3px 8px #000;

    }

    .cards {
        padding: 10px;
    }

    .card-h,
    .card-details,
    .card button {
        width: 90%;
    }

    .order-form-container {
        width: 95%;
        padding: 20px;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .order-title {
        font-size: 32px;
    }

    .order-sub {
        font-size: 25px;
    }
}
.hot-btns .hot-btn{
    background-color: #ccc;
    border: 2px solid orangered;
}

.hot-btn.active{
    background-color: orangered !important;
    color: white;
    border: 2px solid #fff;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    
    width: 350px;
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    position: relative;
    animation: popupShow .3s ease;
}

@keyframes popupShow {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 28px;
    cursor: pointer;
    color: #555;
}

.close-btn:hover {
    color: orangered;
}

.popup-title {
    text-align: center;
    margin-bottom: 20px;
    color: orange;
}

.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group label{
    padding: 5px;
}


.input-group input{
    display: flex;
    border: orangered solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}